/* 
    Document   : Avenue Stylesheet
    Created on : May 14, 2014, 8:23:39 PM
    Author     : Bilal
    Description:
        Purpose of the stylesheet follows.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
        outline: none !important;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
body {
    background: #f5f5f5;    
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a img {
	border: 0;
        outline: none;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
p {
	margin-bottom: 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
/*input[type="search"]::-webkit-search-decoration { *//* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	/*-webkit-appearance: none;*/
/*}*/
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}
a:visited {
    
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
        text-decoration: none !important;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
     display: none; 
    position: absolute;
    left: 100%;
    top: 0;
    background: #191919;
    width: 250px;
        
}

.main-navigation ul ul li a{
    font-size: 12px !important;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
    padding: 10px 30px 10px 10px !important;
    
}
.main-navigation ul ul li {
    font-size: 12px;
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul ul ul.sub-menu {
    display: none;
}
.main-navigation ul li:hover > ul {
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {}


root { 
    display: block;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}
h1{ font-size: 30px;line-height: 34px;}
h2{ font-size: 26px;line-height: 30px;}
h3{ font-size: 22px;line-height: 26px;}

.margin0auto{ margin: 0 auto;}
.hidden{display: none;}

.row{
    margin: 0 auto;
}

.col4{
    width: 32%;
    box-sizing: border-box;
    float: left;
}


.center{ text-align: center;}
.text-right{ text-align: right;}
.text-left{ text-align: left;}
.left{ float: left;}
.right{ float: right;}
.mt20{ margin-top: 20px;}
.scale125{
    transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
}
.scale11{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.transition{
    transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
}
.transform{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}
.slider-transition{
    transition: 4s all ease;
    -moz-transition: 4s all ease;
    -webkit-transition: 4s all ease;
}
a.button-primary{
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    color: #fff;
}
.button{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 17px;
/*    box-shadow: 0 1px 2px #000;
    -moz-box-shadow: 0 1px 2px #000;
    -webkit-box-shadow: 0 1px 2px #000;*/
}

input[type="submit"] {
    font-size: 14px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 17px;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}

/*-- Logo --*/
#sc_logo{
    width: 100%;
    max-width: 200px;
    text-align: center;
}
/*-- Toolbar --*/
#site-toolbar{
    background: #fff;
    color: rgb(208, 208, 208);
}

#site-toolbar .contact-bar{
    padding-top: 20px;
    border-bottom: 1px dashed #464646;
}

#site-toolbar .contact-bar a{
    display: block;
    text-align: center;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}
#site-toolbar .contact-bar a:hover{

}
#site-toolbar .contact-bar a .fa{
    margin-right: 5px;
    font-size: 16px;
}
#site-toolbar .contact-bar a span{
    color: #666;
    padding-right: 10px;
}
#site-toolbar .social-bar a{
    width: 30px;
    height: 30px;
    margin: 2px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    /*border: 1px solid #e0e0e0;*/
    color: #e0e0e0;
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    /*background: #666;*/
    color: #E8E8E8;
    border-radius: 100%;
}
#site-toolbar .social-bar a:hover{
    background: #000;
}

#site-toolbar .row .social-bar{
    text-align: center;
}

.site-branding{
    
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    z-index: 99;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 50px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 50px #000;
    -o-box-shadow: 0 0 50px #000;
}

.site-branding.dark,
.site-branding-mobile.dark{
    background: rgb(25, 25, 25);
}
.site-branding.dark a,
.site-branding.dark,
.site-branding.dark .site-description{
    color: rgb( 232, 232, 232 );
}
.site-branding.dark .search-bar .search-field{
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 14px;
}

.site-branding.dark .search-bar .search-field:focus{
    color: #fff;
}

.site-branding #site-toolbar{
    text-align: center;
    padding: 0;
        border-bottom: 1px dashed rgb(70, 70, 70);
}

.site-branding #site-toolbar .contact-bar{
    padding: 30px 30px 10px 30px;
}

.site-branding.dark #site-toolbar{
    background: transparent;
}
.site-branding.dark #site-toolbar .social-bar a {
  transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
}

/*
.site-branding.dark #site-toolbar .social-bar a .fa {
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
}*/

.site-branding.dark #site-toolbar .social-bar a.icon-facebook,
.site-branding.dark #site-toolbar .social-bar a.icon-twitter,
.site-branding.dark #site-toolbar .social-bar a.icon-linkedin,
.site-branding.dark #site-toolbar .social-bar a.icon-gplus,
.site-branding.dark #site-toolbar .social-bar a.icon-soundcloud,
.site-branding.dark #site-toolbar .social-bar a.icon-pinterest,
.site-branding.dark #site-toolbar .social-bar a.icon-instagram{
    /*color: rgb(130, 130, 130 );*/
    border-color: rgb(10, 10, 10 );
}
.site-branding.dark #site-navigation.main-navigation li a{
    color: rgb( 232, 232, 232 );
    text-align: center;
    transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
}
.site-branding .row{
    height: 100%;
    line-height: 80px;
    overflow: initial;
}
.site-branding .row [class*="col-"],
.site-title{
    height: 100%;
}
.site-branding .search-bar{
    text-align: center;
    padding: 0;
    /*margin-bottom: 20px;*/
    /*display: none;*/
}
.site-branding .search-bar .widget-area{
    padding: 20px 30px 10px 30px;
}

.site-branding .search-bar .search-form{
    margin-top: 20px;
    line-height: 20px;

}
.site-branding .search-bar .search-field{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    outline-color: #fff;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}

.site-branding .search-bar .search-field:focus{
    padding-right: 20px;
    color: #222;
}
.site-branding .col-sm-6{
    min-height: 70px;
    line-height: 70px;
}


#site-navigation.main-navigation > .row{
    overflow: visible;
}
#site-navigation .menu li:first-child a{
    /*border-top: 1px solid rgb(235, 235, 235);*/
} 
#site-navigation  ul > li.menu-item-has-children:before{
    
    content: '\f054';
    font-family: FontAwesome;
    position: absolute;
    right: 8px;
    color: rgb(255, 255, 255);
    top: 12px;
    font-weight: 100;
    color: #fff;
    font-size: 16px;

}
#site-navigation.main-navigation li{
    float: none;

}
#site-navigation.main-navigation li a{
    font-size: 16px;
    margin-right: 0;
    
    font-weight: 400;
    text-transform: uppercase;
    color: #666;
    text-align: left;
    /*border-bottom: 1px solid #464646;*/
    font-size: 18px;
    border-top: 1px dashed #464646;
    padding: 10px 30px;
}
#site-navigation.main-navigation li a:hover{
    
}
#site-navigation.main-navigation li:last-child a{
    border-bottom: 1px dashed #464646;
}
#site-navigation.main-navigation li.menu-item-has-children{

}
.main-navigation ul ul li{
    line-height: initial;
    /*height: 30px;*/
    line-height: 27px;
}

@media (max-width: 1169px) {
    .main-navigation ul ul li {
        line-height: 19px;
    }
    #site-navigation  ul > li.menu-item-has-children:before {
        top: 9px;
    }
}

/*-- Social --*/

#site-toolbar .social-bar{
    
    text-align: center;
    padding: 30px 30px 20px 30px;
}

#site-toolbar .social-bar h3{
    margin-bottom: 10px;
}



#site-toolbar .social-bar a.icon-twitter{
    /*color: #00abdc;*/
    border-color: #00abdc;
}
#site-toolbar .social-bar a.icon-twitter:hover{
    color: #00abdc;   
}
#site-toolbar .social-bar a.icon-facebook{
    /*color: #3b5998;*/
    border-color: #3b5998;

}
#site-toolbar .social-bar a.icon-facebook:hover{
    color: #3b5998;   
}
#site-toolbar .social-bar a.icon-pinterest:hover{
    color: #C92228;   
}
#site-toolbar .social-bar a.icon-instagram:hover{
    color: #125688;   
}
#site-toolbar .social-bar a.icon-soundcloud:hover{
    color: #ff7700;   
}
#site-toolbar .social-bar a.icon-linkedin{
    /*color: #007bb6;*/
    border-color: #007bb6;

}
#site-toolbar .social-bar a.icon-linkedin:hover{
    color: #007bb6;
}
#site-toolbar .social-bar a.icon-gplus{
    /*color: #dd4b39;*/
    border-color: #dd4b39;

}
#site-toolbar .social-bar a.icon-gplus:hover{
    color: #dd4b39;
}
/*-- 404 --*/
.icon404{
    font-size: 54px;
    line-height: 90px;
}

.error404-content {
    margin: 0;
    padding: 60px 0;
}

/*-- Homepage --*/
.site-content-wrapper .col-md-9.sidebar-off{
    width: 100%;
}
.item-home{
/*    padding: 0;
    float: none;
    margin: 0 20px;*/
    margin-top: 20px;
}
.item-home article {
    margin-bottom: 20px !important;
}
.home .byblos-sidebar {
    margin-top: 20px;
}

/*-- Header --*/
div#branding-wrap {
    padding: 30px 0;
}
.site-header{
    width: 100%;
}
.site-title{
    font-size: 40px;
    border-radius: 100%;
    margin: 0 auto;
    line-height: normal;
    padding: 0 15px;
}
.site-description{
    color: rgb(68, 68, 68);
    font-size: 14px;
    margin-top: 15px;
    padding: 0 15px;
}
/*-- Slider --*/
.camera_wrap{ 
    z-index: 1 !important;
    margin-bottom: 0 !important;
}
.sc-slider-wrapper{
    margin: 0 auto 20px auto;
    overflow: hidden;
    position: relative;
    height: 2000px;
/*    overflow: hidden;
    position: absolute;
    top: 0;
    left: 15%;
    height: 100%;
    width: 85%;*/
}
.sc-slider-wrapper .camera_caption{
    text-transform: uppercase;
    max-width: 500px;
    right: 0 !important;
    bottom: 245px;    
    background: #fff;
    opacity: 1;
    color: #313131;
    padding: 15px 30px;
}
.sc-slider-wrapper .camera_caption > div{
    
    background: transparent;
    
}
.sc-slider-wrapper .camera_caption > div span{
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    
}
.sc-slider-wrapper .cameraContent{
    
}

.camera_bar span.camera_bar_cont {
    background-color: rgba(34, 34, 34, 0) !important;
}

#sc-slider-banner {
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 9;
    margin: 0;
    text-align: center;
    background: rgb(25, 25, 25);
    background: url('../../images/overlay-pattern.png') repeat rgba(25, 25, 25, 0.5);
    padding: 30px 35px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 230px;
    
}

#sc-slider-banner .sc-slider-banner .widget {
    vertical-align: top;
}

#sc-slider-banner ul{
    list-style-type: none;
    margin: 20px 0;
}

#sc-slider-banner .sc-slider-banner{
    
    margin: 0 auto;
    
    
}
#sc-slider-banner h2{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 30px;
    font-weight: 300;
}
#sc-slider-banner p{
    font-size: 26px;
    font-weight: 300;
}
#sc-slider-banner .button-primary{
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
#sc-slider-banner .button-primary:hover{
    text-decoration: none;
}

.camera_pag{
    top: 0;
    right: 15px;
    position: absolute;
}

.sc-slider-wrapper .camera_wrap .camera_pag .camera_pag_ul li {
    background: none;
    border: 2px solid #fff;
}

.sc-slider-wrapper .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
    background-color: #ffffff;
    top: 2px;
    left: 2px;
}

.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
    left: 2px;
    top: 2px;
}

.camera_pie{
    position: absolute;
    bottom: 45px;
    right: 10px;
}
.cameraCont, .cameraContents{
/*    background: url('../../images/overlay-pattern.png') repeat;
    background: url('../../images/pattern-dotted.png') repeat;*/
    /*background-size: 2px;*/
    /*background: rgba( 50,50,50,0.1);*/
}

/*-- Menu --*/

/*-- CTA boxes --*/
#site-cta{
    margin: 0 auto;
    position: relative;
    z-index: 9;
    margin: 0px 15px 30px 15px;
}
#site-cta.no-slider{
    top: 0;
    width: 100%;
    margin-bottom: 0;
}
#site-cta .callout-title{
    padding: 30px 0;
    font-size: 32px;
    text-transform: uppercase;
}
#site-cta .underline{
    display: block;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #D2D2D2;
    width: 300px;
    margin-top: 20px;
    
}

#site-cta .col4.mid{
    margin: 0 2% 0 2%;
}
#site-cta .first-heading{
    color: rgb(170, 170, 170);
    line-height: 27px;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}
#site-cta .main-heading{
    color: rgb(82,82,82);
    font-size: 38px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 800;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: uk-fade;
    -webkit-animation-timing-function: linear;
    -webkit-font-smoothing: antialiased;    
    
}
.site-cta{
    position: relative;
    min-height: 230px;
    opacity: 0;
    transition: 0.8s all ease-in-out;
    -moz-transition: 0.8s all ease-in-out;
    -webkit-transition: 0.8s all ease-in-out;
    
    transform: scale(0.5);
    overflow: hidden;
}
.site-cta.full-size{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
}
.site-cta .overlay{
    background: rgba( 0,0,0,0.1);
    color: #fff;
    padding: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    text-align: center;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;    
}
.site-cta:hover .overlay{
    background: rgba(0,0,0,0.3);
}
.site-cta:hover > div{
/*    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);*/
}
.site-cta > div{
    background: rgba(0,0,0,0.5);
    background: rgb(255, 255, 255);
    color: rgb(82, 82, 82);
    border: 1px solid rgb(234, 234, 234);
    padding: 35px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;    

}


.site-cta .desc{
    opacity: 0;
    transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;    
}

.site-cta:hover .desc{
    opacity: 1;
    
}

#site-cta .col-sm-4:first-child{
    padding-left: 0;
}
#site-cta .col-sm-4:nth-child(3){
    padding-right: 0;
}
.byblos-underline{
    display: block;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('../images/border_striped_horizontal.png');
    background-position: 0 0;
    background-repeat: repeat-x;
}

.site-cta .fa{
}

.site-cta h3{
    font-size: 20px;
    transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    position: relative;
    font-weight: 600;
    text-shadow: 1px 1px rgb(70, 70, 70);
    text-transform: uppercase;
    height: 40px;
}
/*-- Top Banner --*/
#top-banner{
    padding: 15px 0 0 0;
    background: #fff;
    min-height: 100px;
    margin: 20px 0;
    color: rgb(82, 82, 82);
    border: 1px solid rgb(234, 234, 234);
    padding: 20px;    
}
#top-banner .textwidget{
    font-weight: 400;
}
#top-banner .top-banner-text{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
    font-weight: 200;
}
#top-banner .date,
#top-banner .author{
    font-size: 16px;
}
#top-banner .top-banner-text h2{
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 500;
        
}
#top-banner #sc_byblos_recent_posts > div {
    margin-bottom: 30px;

}
#top-banner #sc_byblos_recent_posts img{
    width: 100%;
}
#top-banner #sc_byblos_recent_posts img:hover{

}
#top-banner #sc_byblos_recent_posts .col-sm-3{
    overflow: hidden;

}
#top-banner #sc_byblos_recent_posts .col-sm-3 > div{
    position: relative;

    /*    transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;*/
    /*overflow: hidden;*/
}
#top-banner #sc_byblos_recent_posts .col-sm-3 > div:hover{
    /*    transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);   */
}
#top-banner #sc_byblos_recent_posts .col-sm-3 > div img{
    /*height: 100%;*/
}
#top-banner #sc_byblos_recent_posts .col-sm-3 > div img:hover{

}
#top-banner .top-banner-text .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 10%; 
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}
#top-banner .top-banner-text .overlay:hover{
    background: rgba(0,0,0,0);
}
/*-- site content --*/
article{
    background: rgb(255, 255, 255);
    color: rgb(82, 82, 82);
    border: 1px solid rgb(234, 234, 234);
    padding: 20px;
}
#content{
    /*padding-top: 30px;*/
}
.site-content-wrapper{
    margin-left: 300px;
    background: rgb(245,245,245);
}
.site-content-wrapper .page-content{
    padding-left: 15px;
    padding-right: 15px;
}
/*-- sidebar recent posts --*/
#secondary .widget_sc_recent_posts_widget #sc_byblos_recent_posts .col-sm-3{
    width: 100%;
}
#secondary .widget_sc_recent_posts_widget #sc_byblos_recent_posts .col-sm-3 img{
    float: left;
    width: 75px;
}
#secondary #sc_byblos_recent_posts .date,
#secondary #sc_byblos_recent_posts .author{
    display: none;
}
#secondary #sc_byblos_recent_posts .overlay{
    padding-left: 80px;
}

#secondary #sc_byblos_recent_posts .col-sm-3{
    margin-bottom: 10px;
}
/*#top-banner #sc_byblos_recent_posts*/
/*-- Site Footer --*/
.sc_footer{
    padding: 30px 30px 10px 30px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.site-footer{
    
    background: rgb(245, 245, 245);
    
}
.site-footer .site-info{
    background: rgb(245, 245, 245);
    border-top: 2px solid rgb(230,230,230);
}
.site-footer .footer-boxes{
    margin-top: 15px;
}
.site-footer .footer-boxes .textwidget{
    margin-top: 15px;
}
.site-footer .footer-boxes .widget:first-child{
    padding-left: 0;
}
.site-footer .footer-boxes .widget .inner{
    background: rgb(255, 255, 255);
    color: rgb(82, 82, 82);
    border: 1px solid rgb(234, 234, 234);
    padding: 20px;    
}
.site-footer .col-md-6{
    padding: 20px 10px 20px 0;
}
.scroll-top{
    /*font-size: 26px;*/
    width: 30px;
    height: 30px;
    margin: 7px 5px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
.scroll-top:hover{
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

/*-- page --*/
.page-content{
    padding-bottom: 20px;
}
.page-title{
    background: #222222 url('../images/left-cross.png');
    margin-left: -15px;
    margin-right: -15px;
    font-size: 32px;
    color: #e0e0e0;
    padding: 30px 0;
}
.page .entry-content{

}
.blog-content{
    padding-top: 20px;
}
.blog .blog-content{
    padding-top: 15px;
}
.item-page{
    padding-top: 10px;
    margin-bottom: 15px;
}
.item-page.col1{
    width: 100%;
}
.page-content .col-md-9{
    overflow: hidden;
}
/*-- Blog --*/
.blogroll{
    margin-top: 20px;
}
.item-post{
    overflow: hidden;
    color: rgb(82, 82, 82);
    width: 32%;
/*    margin-left: 1%;*/
    margin-bottom: 15px;
    float: left;
    position: relative;
    transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);  
    opacity: 0;
}

.item-home .inner .item-post {
     transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.item-post.full-size{
    transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
}
.item-post:hover .wp-post-image{
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}
.item-post:hover .post-title{
    
}
.item-post .wp-post-image{
    width: 100%;
    transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;    
}
.item-post .col-sm-8.featured_none {
    width: 100%;
}
.item-post .post-title{
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    position: absolute;
    bottom: -50px;
    right: 5px;
    width: auto;
    background: #fff;
    padding: 3px 10px 5px 10px !important;
    display: none;
     
}
.item-post .post-thumb{
    padding-top: 15px;

}
.item-post .post-thumb img{
    width: 100%;
    width: 100%;
}
.single-title{


}
.single-title > div.row{
    padding-left: 30px; 
}
.single .wp-post-image{
    padding: 0 0px 20px 20px;
    width: 50%;
    float: right
}
.single .post-title,
.item-page .post-title{
    margin-top: 0;
    font-weight: 400;
    margin-top: 5px;
    text-transform: uppercase;
    padding: 0;
}
.nav-next .meta-nav,
.nav-previous .meta-nav{
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);    
}
.meta-nav .fa{
    font-size: 17px;
}
.wp-post-image{
    float: left;
}
/*-- sidebar --*/
.byblos-sidebar .widget{
    overflow: hidden;
    background: rgb(255, 255, 255);
    color: rgb(82, 82, 82);
    border: 1px solid rgb(234, 234, 234);
    margin-bottom: 20px;    
    padding: 0 15px 15px 15px;
}
.byblos-sidebar .widget .textwidget{
    
}
.byblos-sidebar .widget .widget-title{
    padding: 10px 0 0px 0;
}
.byblos-sidebar .widget_search{
    padding: 20px;
}
.widget-area .search-field{
    width: 100%;
    padding-left: 5px;
}
.widget-title{
    margin-bottom: 0;
    font-weight: 400;
    margin-top: 5px;
    text-transform: uppercase;
}
.widget-area ul{
    margin: 0;
}
.widget-area ul li{
    list-style-type: none;
    padding-left: 0;
    border-bottom: 1px solid #E6E6E6;

}
.widget-area ul li a{
    font-size: 16px;
    padding: 7px 0;
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    display: block;
}
.widget-area ul li a:hover{

}
#tasty-mobile-toggle{
    display: none;
}

/*-- Responsive --*/
@media(min-width: 1170px){
    .row{
        width: 1170px;
    }
    #sc-slider-banner{
    
    }
    #sc-slider-banner .sc-slider-banner{
    }
}
@media(max-width: 1169px){
/*    .site-branding .row [class*="col-"], .site-title{
        line-height: initial;
    }*/
    #comments{
        padding: 0 15px;
    }
    
    #sc-slider-banner{
        /*top: 15%;*/
        
    }
    #sc-slider-banner .sc-slider-banner{
        width: 100%;
    }
    
}
@media( min-width: 992px ){
    .site-branding-mobile{
        display: none;
    }    
}
@media( max-width: 991px ){
    
    header#masthead {
        position: fixed;
        top: 0;
        z-index: 9999;
    }
    
    .item-page{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .item-post .post-title{
        display: initial;
        bottom: 0;
        right: 0;
        line-height: 16px;
    }
    .site-branding{
        display: none;
    }
    .site-content-wrapper{
        margin-left: 0;
        margin-top: 80px;
    }
    .site-footer{
        margin-left: 0;
        width: 100%;
    }
    #tasty-mobile-toggle{
        display: inline-block;
        float: left;
        cursor: pointer;
        /*border: 1px solid rgba(0, 0, 0, 0);*/
        /*width: 80px;*/
        line-height: 80px;
        font-size: 28px;
        position: relative;
        text-align: center;
        height: 80px;
    }
    #tasty-mobile-toggle .menu{
        display: none;
        background-color: #333333;
        margin-left: 0;
        position: fixed;
        width: 100%;
        box-shadow: 0 0 3px rgb(51, 51, 51);
        -moz-box-shadow: 0 0 3px rgb(51, 51, 51);
        -webkit-box-shadow: 0 0 3px rgb(51, 51, 51);       
        z-index: 99;
        padding-left: 0px;
        list-style: none;
        top: 80px !important;
    }
    #tasty-mobile-toggle .menu > ul {
        margin: 0;
    }
    #tasty-mobile-toggle .menu li {
        width: auto;
        list-style: none;
        list-style-type: none;
        line-height: 30px;
    }
    #tasty-mobile-toggle .menu li a{
        font-size: 14px;
        text-align: left;
        padding: 3px 5px;
        display: block;
        line-height: 30px;
        color: #D1D1D1;
        padding-left: 28px;

    }
    #tasty-mobile-toggle .menu li a:hover,
    #tasty-mobile-toggle .menu li.current-menu-item a{
        background-color: rgb(31, 31, 31);
    }
    
    #tasty-mobile-toggle:hover{
        
    }
    #tasty-mobile-toggle .fa{
        line-height: 80px;
        height: 80px;
        width: 80px;
        font-size: 35px;
    }
    #tasty-mobile-toggle .fa.active{
        background: #333;
        color: #fff;
    }
    
    #tasty-mobile-toggle ul.sub-menu li ul.sub-menu {
        background-color: rgba(0, 0, 0, 0.15);
    }
    
    #tasty-mobile-toggle ul.sub-menu li a {
        padding-left: 45px;
    }
    
    #tasty-mobile-toggle ul.sub-menu li ul.sub-menu li a {
        padding-left: 60px;
    }
    
    #tasty-mobile-toggle ul.sub-menu li ul.sub-menu li ul.sub-menu li a {
        padding-left: 75px;
    }
    
    .site-branding-mobile .col-xs-2{
        padding-left: 0;
    }
    #sc-slider-banner {
        
        /*top: 20%;*/
        width: 100%;
    }
    .site-branding-mobile{
        /*display: block;*/
        overflow: hidden;
        height: 80px;
    } 
    .site-branding-mobile .site-title-mobile{
        line-height: 80px;
        height: 80px;
        text-align: center;
        padding-right: 16.66666667%;
        
    }   
    .site-title-mobile img#sc_logo {
        height: 70px;
        width: auto;
    }
    .site-branding-mobile.dark #tasty-mobile-toggle .fa{
        color: #ffffff;
    }
    #tasty-mobile-toggle .sub-menu{
        margin-left: 0;
    }

    #tasty-mobile-toggle .sub-menu li a{
        padding-left: 28px;
    }
    #tasty-mobile-toggle .sub-menu .sub-menu li a{
        padding-left: 40px;
    }    
    
    .site-footer .footer-boxes .widget:first-child{
        padding-left: 15px;
    }
    
}
@media( min-width: 801px ) and ( max-width: 1169px ){
    #site-navigation.main-navigation li a{
        font-size: 13px;
    }
}
@media( max-width : 801px ){
    .site-title{
        margin-left: 0;
    }
    #site-cta{
        position: initial;
        top: 0;
        margin-bottom: 0;
        width: 100%;
    }
    .site-content-wrapper{
    }
    #site-navigation{
        display: none;
    }

    #site-toolbar{
        display: none;
    }
    .site-branding{
        top: 0;
    } 
    .site-branding .col-xs-3{
        width: 100%;
        text-align: center;
        padding: 0;
    }    
    .site-branding .menu-bar,
    .site-branding .search-bar{
        display: none;
    }
    .col4{
        width: 100%;
    }
    .site-cta{
        margin-bottom: 15px;
    }
    #site-cta .col4.mid{
        margin-left: 0;
        margin-right: 0;
    }
    #site-cta .col4.mid{
        margin-bottom: 15px;
    }
    #site-cta{
        margin: 0px;
    }
}
@media ( min-width: 601px ) and ( max-width: 800px ){
    
}
@media ( max-width: 601px ){
    #site-cta .main-heading{
        font-size: 28px;
        line-height: 30px;
    }
    .sc-slider-wrapper .camera_caption{
        font-size: 14px;
        line-height: 14px;
    }

/*    .item-post{
        width: 49%;
    }*/
    #sc-slider-banner{
       
    }
    #sc-slider-banner .sc-slider-banner{
        
    }    
    #sc-slider-banner h2{
        font-size: 22px;
        line-height: 28px;
    }
    #sc-slider-banner p{
        font-size: 16px;
        line-height: 22px;
    }
   
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
    #sc-slider-banner h2{
        font-size: 22px;
        line-height: 24px;
    }
    #sc-slider-banner{
        max-height: 150px;
        padding: 10px;
    }
    #sc-slider-banner .button-primary{
        font-size: 12px;
        padding: 0px 5px;
        height: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .sc-slider-wrapper .camera_caption{
        bottom: 84px;
        bottom: 150px;
    }
    .sc-slider-wrapper .camera_caption > div span{
        font-size: 18px;
        line-height: 20px;
    }
    .camera_pag{ display: none}
}

.mb20{ margin-bottom: 20px;}
.mt20{ margin-bottom: 20px;}
.bs_nopad{ padding: 0px !important}

#byblos-page-jumbotron{
    width: 100%;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    background: rgba( 0,0,0,0.15 );
    box-shadow: 1px 1px 5px #000;
    -moz-box-shadow: 1px 1px 5px #000;
    -webkit-box-shadow: 1px 1px 5px #000;
    position: relative;
    z-index: 2;
    display: table;
}

div#byblos-page-jumbotron header.entry-header {
    display: table-cell;
    vertical-align: middle;
}

#byblos-page-jumbotron .entry-title{
    text-align: center;
    color: #fff;
    font-size: 46px;
    z-index: 999;
    position: relative;
/*    text-shadow: 1px 2px rgb(51, 51, 51);*/
    line-height: normal;
}

.parallax-window {

}

.parallax-mirror{
    z-index: 1 !important;
}

.grid-sizer,
.item-home .inner .item-post { 
    width: 32%; 
    margin-left: 0;
}
.gutter-sizer { width: 2%; }

.error404 .page-content {
    margin-top: 15px;
    padding-bottom: 0;
}

.error404 .item-page {
    text-align: center;
    margin-bottom: 0;
}

.error404 .item-page i.fa {
    margin-top: 50px;
    font-size: 70px;
    margin-bottom: 30px;
}

.error404 .item-page h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.error404 .item-page h3.page-subtitle {
    margin-bottom: 50px;
}

.sc_team_single_member .wp-post-image {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}

.sc_team_single_member .sc_single_side .name {
    line-height: 24px;
    margin-bottom: 0;
}

.sc_team_single_member .sc_single_side .social {
    text-align: center;
}


.sc_team_single_member .sc_single_main,
.sc_team_single_member .inner{
    background: #fff;
    border: 1px solid rgb(234, 234, 234);
}