/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 1:15:17 AM
    Author     : Bilal
*/

a,a:visited,
body.single-event .event-details{
  color: #53C1EF;
}
a:hover,#site-navigation.main-navigation li a:hover,
.site-branding.dark #site-navigation.main-navigation li a:hover{
    color: #53C1EF;
}

.site-branding .site-title a{
    color: #53C1EF;
}
.primary-color{ color: #53C1EF;}
a.button-primary,
input[type="submit"]{
    background-color: #53C1EF;
    color: #ffffff;
}
.button-primary:hover,
.button-primary:focus,
.button-primary:active,
.button-primary.active,
.open .dropdown-toggle.button-primary,
input[type="submit"]:hover {
  background-color: #429FC7;
}
fieldset[disabled] .button-primary.active {
  background-color: #429FC7;
}
.button-primary .badge {
  color: #53C1EF;
}
.button-link {
  color: #53C1EF;
}
.sc-primary-color{ color: #53C1EF;}
.sc-primary-border{ border-color: #53C1EF;}
.site-branding .search-bar .search-field:focus{
    border-bottom: 1px solid #53C1EF;
}
.icon404{
    color: #53C1EF;
}
.nav-menu > li a:hover{
    color: #53C1EF;
}
.scroll-top:hover{
    border-color: #53C1EF;
}
#site-toolbar{
    /*border-bottom: 7px solid #53C1EF;*/
}


@media(max-width: 600px){
    .nav-menu > li.current_page_item a{
        color: #53C1EF;
    }      
}

/* Additional Rules */
#sc-slider-banner.banner-below,
.byblos-pricing-table .inner.special {
    border-color: #53C1EF;
}

.byblos-pricing-table .inner.special .widget-title,
#homepage-area-b .byblos-pricing-table .inner.special span.special {
    color: #53C1EF;
}

.byblos-pricing-table .inner.special span.special,
.camera_wrap .camera_pag .camera_pag_ul li:hover > span,
.sc-slider-wrapper .camera_caption div a.slider-button,
div#homepage-area-b.homepage-widget-area > .inner,
body.single-event .event-details span.fa {
    background-color: #53C1EF;
}

.sc-slider-wrapper .camera_caption div a.slider-button:hover {
    background-color: #429FC7;
} 