/* 
    Document   : green
    Created on : Jul 6, 2014, 2:28:39 AM
    Author     : Bilal
    Description:
        Purpose of the stylesheet follows.
*/
a,a:visited,
body.single-event .event-details{
  color: #699120;
}
a:hover,#site-navigation.main-navigation li a:hover,
.site-branding.dark #site-navigation.main-navigation li a:hover{
    color: #699120;
}

.site-branding .site-title a{
    color: #699120;
}
.primary-color{ color: #699120;}
a.button-primary,
input[type="submit"] {
    background-color: #699120;
    color: #ffffff;
}
.button-primary:hover,
.button-primary:focus,
.button-primary:active,
.button-primary.active,
.open .dropdown-toggle.button-primary,
input[type="submit"]:hover{
  background-color: #537418;
}
fieldset[disabled] .button-primary.active {
  background-color: #699120;
}
.button-primary .badge {
  color: #699120;
}
.button-link {
  color: #699120;
}
.sc-primary-color{ color: #699120;}
.sc-primary-border{ border-color: #699120;}
.site-branding .search-bar .search-field:focus{
    border-bottom: 1px solid #699120;
}
.icon404{
    color: #699120;
}
.nav-menu > li a:hover{
    color: #699120;
}
.scroll-top:hover{
    border-color: #699120;
}
#site-toolbar{
    /*border-bottom: 7px solid #699120;*/
}


@media(max-width: 600px){
    .nav-menu > li.current_page_item a{
        color: #699120;
    }      
}

/* Additional Rules */
#sc-slider-banner.banner-below,
.byblos-pricing-table .inner.special {
    border-color: #699120;
}

.byblos-pricing-table .inner.special .widget-title,
#homepage-area-b .byblos-pricing-table .inner.special span.special {
    color: #699120;
}

.byblos-pricing-table .inner.special span.special,
.camera_wrap .camera_pag .camera_pag_ul li:hover > span,
.sc-slider-wrapper .camera_caption div a.slider-button,
div#homepage-area-b.homepage-widget-area > .inner,
body.single-event .event-details span.fa {
    background-color: #699120;
}

.sc-slider-wrapper .camera_caption div a.slider-button:hover {
    background-color: #537418;
} 