/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2014, 2:29:03 PM
    Author     : Bilal
*/
a{
    color: rgb(102, 102, 102);
}
a:hover,
#site-navigation.main-navigation li a:hover{
    color: #010101;
}
.site-branding.dark #site-navigation.main-navigation li a:hover{
    color: #fff;
}
#site-toolbar .social-bar a{
    color: rgb(130, 130, 130) !important;
    border-color: rgb(132, 132, 132) !important;
    box-shadow: 0px 0px 7px inset !important;
    -moz-box-shadow: 0px 0px 7px inset !important;
    -webkit-box-shadow: 0px 0px 7px inset !important;    
}
#site-toolbar .social-bar a:hover{
    box-shadow: 0px 0px 1px inset !important;
    -moz-box-shadow: 0px 0px 1px inset !important;
    -webkit-box-shadow: 0px 0px 1px inset !important;     
}

a.button-primary{
    color: #000;
}
a.button-primary:hover{
    background: #e9e9e9;
}